@import settings
@import normalize
@import foundation
@import compass/css3
@import "http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Oswald:400,300,700|Droid+Sans:400,700"

$beige: #f5f3ee
$teal: #00917d
$serif: 'PT Serif', serif
$sans: 'Oswald', sans-serif

$swatch1A: desaturate(#0faf94, 10%)
$swatch1B: desaturate(#0c80a9, 10%)
$swatch1C: desaturate(#2165a3, 10%)
$swatch1D: desaturate(#355ca3, 10%)
$swatch1E: desaturate(#4346a2, 10%)
$swatch1F: desaturate(#5336a2, 10%)

html, body
    background: $beige
    height: 100%
    font-family: "Droid Sans"


.container
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0



@mixin section($base_color, $text_color)
    $accent: saturate(lighten($base_color, 30%), 100%)
    background: $base_color
    color: darken($text_color, 20%)
    text-align: center
    padding: 60px 0
    border-bottom: 4px solid $accent
    +transition(background 0.3s ease-in-out)

    a, p, h1, h2, h3, h4, h5, h6
        color: darken($text_color, 20%)
        +transition(color 0.3s ease-in-out)

    a
        +transition(all 0.3s ease-in-out)
        border-bottom: 1px solid $base_color

    h1, h2, h3
        font-family: $sans
        text-transform: uppercase
        font-weight: 400
        text-shadow: 0 2px 2px darken($base_color, 15%)
    h3
        text-shadow: 0 1px 1px darken($base_color, 15%)
        @media #{$medium}
            font-weight: 300
    h4
        font-family: $serif
        font-weight: 400
        font-style: italic
        line-height: 1.6em

    &:hover
        border-bottom-color: adjust-hue($accent, 10%)

    .row:hover, &.touch .row
        $accent: saturate(lighten($base_color, 30%), 100%)
        color: $text_color
        p, h1, h2, h3, h4, h5, h6
            color: $text_color
        a
            $link_color: adjust-hue($accent, -10%)  
            color: $link_color
            border-bottom-color: $link_color
            &:hover
                color: adjust-hue($link_color, 20deg)
                border-bottom-color: adjust-hue($link_color, 20deg)


.header
    
    $base_color: $swatch1F
    $text_color: lighten($base_color, 70%)
    +section($base_color, $text_color)

    .row
        padding: 120px 0

    .title, .subtitle
        margin: 10px 0
        padding: 0
        text-transform: none

    .title
        font-family: $sans
        font-weight: 400
        text-transform: uppercase

    .subtitle
        font-family: $serif
        font-style: italic
        font-weight: 400
        text-shadow: 0 1px 2px darken($base_color, 10%)


.about

    $base_color: $swatch1A
    $text_color: lighten($base_color, 70%)
    +section($base_color, $text_color)

    a
        border-bottom-width: 2px

    p
        text-align: center
        font-family: $serif
        font-style: italic
        font-weight: 400
        font-size: 22px
        line-height: 44px
        margin-bottom: 0


.work
    
    $base_color: $swatch1B
    $text_color: lighten($base_color, 70%)
    +section($base_color, $text_color)

    .row, h1
        @media #{$medium}
            padding: 40px

    .row:nth-child(even)
        @media #{$medium}
            .imagewrapper
                float: right
            .copy
                float: left


    .image
        +transition(all 0.2s ease-in-out, background-size 0.2s ease-out)
        opacity: 0.6
        position: relative
        margin: auto
        background: center no-repeat
        background-size: 120%
        border-radius: 150px
        border: 5px solid $text_color
        box-shadow: inset 0 2px 2px $base_color
        +filter(grayscale(100%))
        width: 200px
        height: 200px
        margin: 20px auto
        @media #{$medium}
            width: 300px
            height: 300px
            margin: 0 auto

    .row:hover, &.touch
        .image
            opacity: 1
            background-size: 100%
            +filter(grayscale(0%))

    p
        line-height: 1.7em

    li
        list-style: none
        &.lang
            font-family: $serif
            font-style: italic


.footer
    
    $base_color: #00b798
    $text_color: lighten($base_color, 70%)
    +section($base_color, $text_color)

    min-height: 30%
    bottom: 0
